body {
    background-color: rgb(201, 201, 201) !important;
}

#bootstrap-demos-link {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s ease-in-out;
}

#bootstrap-demos-link:hover {
    opacity: 1;
}

#drum-machine {
    border-radius: 4px;
    background-color: #e0e0e0;
    border-style: outset;
    border-color: rgb(128, 111, 111);
}

#drum-controls>.align-items-center {
    min-height: 100%;
}

#display {
    background-color: white;
    border-radius: 10px;
    border-style: inset;
    min-height: 30px;
    font-weight: bold;
}

.volume-control-group {
    margin-bottom: 1rem;
}

.custom-range {
    width: 100%;
    background-color: silver !important;
    height: 12px !important;
    padding: 0 2px 0 2px !important;
}

.playback {
    box-shadow: rgba(0, 0, 0, 0.514) 7px 7px 7px;
    border: 1px solid grey !important;
}

.playback:hover {
    background-color: rgba(182, 100, 100, 0.89) !important;
}

.playback:focus{
    background-color: grey !important;
    color: black !important;
}

@media screen and (max-width: 420px) {
    body {
        height: 100%;
        width: 100%;
        min-width: 420px;
    }

    .row {
        display: flex !important;
        margin: 0.8em;
    }

    #drum-pad {
        min-width: 275px !important;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }

    #drum-controls {
        min-width: 275px !important;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .playback {
        height: 65px;
        border: 1px solid grey !important;
    }

    .playback:focus {
        background-color: grey !important;
        color: black !important;
    }

}