#bootstrap-demos-link {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s ease-in-out;
}

#bootstrap-demos-link:hover {
  opacity: 1;
}

#drum-machine {
  border-radius: 4px;
  background-color: #e0e0e0;
}